<%- include('header') -%>

  <div class="about">
    <img src="/images/about-me-transformed.png" alt="">
    <!--Add a target to each of the attributes Home, About, Contact-->
    <p>I'm a second year software engineering student at centennial college.
    </p>
    <p>I have over 4 years of experience in the accounting industry.</p>
    <p>However, my true passion is web development.</p>
    <p>I currently work as a junior developer at Blink Agency.</p>
    <p>
      I'm looking to expand my skills and grow within the industry.
    </p>
    <div class="resume">
      <a href="/images/Resume_Amer_Ajjawi.pdf" target="_blank">My Resume</a>
    </div>
  </div>

  <!--Add resume link-->


  <%- include('footer') -%>