<%- include('header') -%>
    
<div class="welcome">
    <!--Add a target to each of the attributes Home, About, Contact-->
    <p>I'm a second year software engineering student at centennial college. 
    </p>
    <p>I have over 4 years of experience in the accounting industry.</p>
    <p>However, my true passion is web development.</p>
    <p>I currently work as a junior developer at Blink Agency.</p>
    <p>
      I'm looking to expand my skills and grow within the industry.
    </p>
</div>
<div class="about-me">
    <img src="/images/about-me-transformed.png" alt="">
</div>



    <%- include('footer') -%>