<%- include('header') -%>
<section class="about-me" id="about">
    <h2 class="section__title section__title--about">Who I am</h2>
    <p class="section__subtitle section__subtitle--about">I'm a second year software engineering student studying at
        Centennial College with a passion for development.</p>
    <div class="about-me__body">
        <p>I graduated accounting in 2020.</p>
        <p>I decided to pursue a career in the tech field.</p>
    </div>
    <img src="/images/Amer2.jpg" alt="Amer Ajjawi and his wife in the USA" class="about-me__img">
</section>
 


<h1>This is the about page</h1>
    <%- include('footer') -%>