<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>

<body>

    <!---Nav Bar -->

        
    <nav class="navbar">
        <div class="logo">
            <a href="/">
                <img src="images/logo (4).png" alt="Amer's Logo">
            </a>
        </div>
         <div class="hamburger-menu">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
         </div>
        <div class="nav-menu-hide">
            <a href="/">Home</a>
            <a href="about">About</a>
            <a href="projects.ejs">Projects</a>
            <a href="services.ejs">Services</a>
            <a href="contact.ejs">Contact</a>
        </div>
    </nav>


