<%- include('header') -%>
<!---Nav Bar -->
<div id="site">

    <div id="header">
        <img class="center" src="/images/logo (4).png" alt="Amer's Logo"/>    
    </div>

    <div id="mainNav">
        <li><a class="active" href="#home">Home</a>
        <li><a href="about.ejs">About</a></li>
        <li><a href="projects">Projects</a></li>
        <li><a href="services.ejs">Services</a></li> 
        <li><a href="contact.ejs">Contact</a></li></li>
    </div>

</div>

    <div class="welcome">
        <!--Add a target to each of the attributes Home, About, Contact-->
        <h1 class="word-1"></h1>
        <h1 class="word-2"></h1>
        <h1 class="word-3"></h1>
    </div>

<!--Background Image-->
 <div class="bg-photo"></div>

    <%- include('footer') -%>