<%- include('header') -%>
    <!--Background Image-->
        <div class="welcome">
            <!--Add a target to each of the attributes Home, About, Contact-->
            <h1 class="word-1"></h1>
            <h1 class="word-2"></h1>
            <h1 class="word-3"></h1>
            <p>I'm a software engineering student with a passion for web development. 
            </p>
            <p>
              I'm looking to expand my skills and grow within the industry.
            </p>
        </div>
        <div class="bg-photo">
            <img src="/images/me.png" alt="">
        </div>
    <%- include('footer') -%>