<%- include('header') -%>

  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <a href="/home">Home</a>
  <a href="/about">About</a>
  <a href="/projects">Projects</a>
  <a href="/services">Services</a>
  <a href="/contact">Contact</a>

  <%- include('footer') -%>