<%- include('header') -%>
    <!---portfolio projects-->
    <section class="my-work" id="work">
        <h2 class="section__title section__title--work">My work</h2>
        <p class="section__subtitle section__subtitle--work">A view of the work I've done</p>

        <div class="portfolio">
            <!--Portfolio item 01-->
            <a href="#" class="portfolio__item">
                <img src="/images/amazon.jpg" alt="Amazon profile picture" class="portfolio__image">
                <p>I built an Amazon landing page with a contact form in html, css, and javascript.</p>
            </a>

            <!--Portfolio item 02-->
            <a href="#" class="portfolio__item">
                <img src="/images/apple.jpg" alt="Apple profile picture" class="portfolio__image">
                <p>I built an Apple website with a contact form in html, css, and javascript.</p>
            </a>

            <!--Portfolio item 03-->
            <a href="#" class="portfolio__item">
                <img src="/images/CE_FORM.jpg" alt="Centennial College Web Form" class="portfolio__image">
                <p>I built an Apple website with a contact form in html, css, and javascript.</p>
            </a>
        </div>
    </section>
    <%- include('footer') -%>