  <%- include('header') -%>
   
    <!--Services-->
    <section class="my-services" id="services">
        <h2 class="section__title section__title--services">What I do</h2>
        <div class="services">
            <div class="service">
                <h3>HTML + CSS</h3>
                <p>Each website is unique. That's why I sart with creating the skeleton using html, then style it, with
                    css.</p>
            </div> <!--/ service-->

            <div class="service">
                <h3>Javascript</h3>
                <p>I use javascript to breathe fresh air into a static website and give it life. Javascript gives your
                    website the functionality it needs to catch the eye of your target audience.</p>
            </div> <!--/ service-->

            <div class="service">
                <h3>Digital Marketing</h3>
                <p>I help you employ multi social media plateforms to reach and connect with your audience. I will
                    assist you with running campaigns and ads for your business.</p>
            </div> <!--/ service-->
        </div> <!-- / services-->
    
    <%- include('footer') -%>